module Main where

import AocPrelude
import Puzzle
{{imports}}

import System.Environment (getArgs)

puzzles :: [Puzzle]
puzzles = [{{vals}}]

main :: IO ()
main = do
  args <- getArgs
  forM_ args $ \arg ->
    mapM_ solvePuzzle
    . filter ((arg ==) . toS . puzzleId)
    $ puzzles
