module Puzzles.P{{day}} where

import AocPrelude
import Parse
import Puzzle

p{{day}} :: Puzzle
p{{day}} = Puzzle "{{day}}" inputParser pt1 pt2

type Input = Text

inputParser :: Parser Input
inputParser = pure ""

pt1 _ = Nothing :: Maybe ()

pt2 _ = Nothing :: Maybe ()
