module P{{day}}Spec where

import TestPrelude

import qualified Puzzles.P{{day}} as P

pt1 = puzzleExample P.inputParser P.pt1 "pt 1"
pt2 = puzzleExample P.inputParser P.pt2 "pt 2"

spec_p{{day}} :: Spec
spec_p{{day}} = describe "day {{day}}" $ do
  describe "example 1" $ do
    let input = [r||]

    -- pt1 input ???
    -- pt2 input ???
    pure ()
